###################### Metricbeat Configuration Example #######################

# This file is an example configuration file highlighting only the most common
# options. The metricbeat.full.yml file from the same directory contains all the
# supported options with more comments. You can use it as a reference.
#
# You can find the full configuration reference here:
# https://www.elastic.co/guide/en/beats/metricbeat/index.html

#==========================  Modules configuration ============================

metricbeat.modules:
- module: system
  metricsets:
  # CPU stats
  - cpu

  # System Load stats
  - load

  # Per CPU core stats
  #- core

  # IO stats
  #- diskio

  # Per filesystem stats
  - filesystem

  # File system summary stats
  - fsstat

  # Memory stats
  - memory

  # Network stats
  - network

  # Per process stats
  - process

  # Sockets and connection info (linux only)
  #- socket
  enabled: true
  period: 10s
  processes: ['.*']

- module: nginx
  metricsets: ["stubstatus"]
  enabled: true
  period: 10s

  # Nginx hosts
  hosts: ["http://127.0.0.1"]

  # Path to server status. Default server-status
  server_status_path: "server-status"


{% if metricbeat_output_elasticsearch_enabled %}
### Elasticsearch as output
output.elasticsearch:
  # Array of hosts to connect to.
  hosts: {{ metricbeat_output_elasticsearch_hosts | to_json }}

{% endif %}

