<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<body>

<div th:fragment="footer">

    <hr/>

    <div class="text-sm-center">
        <div th:text="${activeProfile}"></div>
        <div th:text="${datasourceURL}"></div>
    </div>


    <script type="text/javascript"
            th:href="@{/webjars/bootstrap/js/bootstrap.min.js}"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</div>

</body>
</html>