<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <div th:replace="fragments/header :: header"/>
</head>

<body>

<div th:replace="fragments/header :: navbar"/>

<div class="container" data-node-se="shopping-cart-page">

    <div class="alert alert-info"
         data-node-se="out-of-stock"
         th:if="${outOfStockMessage}"
         th:utext="${outOfStockMessage}"></div>

    <div th:each="product : ${products}">

        <div th:replace="fragments/product-body :: product "/>

        <hr >
    </div>

    <div class="row panel-body" data-node-se="summary-container">
        <h2 class="col-md-11" th:inline="text" data-node-se="total-amount">Total: [[${total}]]</h2>
        <a th:href="@{'/shoppingCart/checkout'}" class="col-md-1" data-node-se="checkout-button">
            <button type="button" class="btn btn-danger" th:text="Checkout">Checkout</button>
        </a>
    </div>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>